\# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/

# IntelliJ IDEA project files
.idea/

# Database files
*.sqlite3

# Virtual environment
venv/
